extends template/tmpl_out

block content
  .container-fluid
    .row-fluid
      .row-fluid
        .span12.center.login-header
          h2 Demo #{title}
      .row-fluid
        .well.span5.center.login-box
          .alert.alert-info
            | #{message}
          form.form-horizontal(action='/session/login', method='post')
            fieldset
              .input-prepend(title='Username: admin', data-rel='tooltip')
                span.add-on
                  i.icon-user
                input#username.input-large.span10(autofocus='autofocus', name='username', type='text', value='')
              .clearfix
              .input-prepend(title='Password: admin123456', data-rel='tooltip')
                span.add-on
                  i.icon-lock
                input#password.input-large.span10(name='password', type='password', value='')
              .clearfix
              .input-prepend
                label.remember(for='remember')
                  input#remember(type='checkbox')
                  | Remember me
              .clearfix
              p.center.span5
                button.btn.btn-primary(type='submit') Login