!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.')
    meta(name='author', content='Muhammad Usman')
    link#bs-css(href='css/bootstrap-cerulean.css', rel='stylesheet')
    style(type='text/css')
      body {
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    link(href='css/bootstrap-responsive.css', rel='stylesheet')
    link(href='css/charisma-app.css', rel='stylesheet')
    link(href='css/jquery-ui-1.8.21.custom.css', rel='stylesheet')
    link(href='css/fullcalendar.css', rel='stylesheet')
    link(href='css/fullcalendar.print.css', rel='stylesheet', media='print')
    link(href='css/chosen.css', rel='stylesheet')
    link(href='css/uniform.default.css', rel='stylesheet')
    link(href='css/colorbox.css', rel='stylesheet')
    link(href='css/jquery.cleditor.css', rel='stylesheet')
    link(href='css/jquery.noty.css', rel='stylesheet')
    link(href='css/noty_theme_default.css', rel='stylesheet')
    link(href='css/elfinder.min.css', rel='stylesheet')
    link(href='css/elfinder.theme.css', rel='stylesheet')
    link(href='css/jquery.iphone.toggle.css', rel='stylesheet')
    link(href='css/opa-icons.css', rel='stylesheet')
    link(href='css/uploadify.css', rel='stylesheet')
    link(rel='shortcut icon', href='img/favicon.ico')
  body
    block content
    script(src='js/jquery-1.7.2.min.js')
    script(src='js/jquery-ui-1.8.21.custom.min.js')
    script(src='js/bootstrap-transition.js')
    script(src='js/bootstrap-alert.js')
    script(src='js/bootstrap-modal.js')
    script(src='js/bootstrap-dropdown.js')
    script(src='js/bootstrap-scrollspy.js')
    script(src='js/bootstrap-tab.js')
    script(src='js/bootstrap-tooltip.js')
    script(src='js/bootstrap-popover.js')
    script(src='js/bootstrap-button.js')
    script(src='js/bootstrap-collapse.js')
    script(src='js/bootstrap-carousel.js')
    script(src='js/bootstrap-typeahead.js')
    script(src='js/bootstrap-tour.js')
    script(src='js/jquery.cookie.js')
    script(src='js/fullcalendar.min.js')
    script(src='js/jquery.dataTables.min.js')
    script(src='js/excanvas.js')
    script(src='js/jquery.flot.min.js')
    script(src='js/jquery.flot.pie.min.js')
    script(src='js/jquery.flot.stack.js')
    script(src='js/jquery.flot.resize.min.js')
    script(src='js/jquery.chosen.min.js')
    script(src='js/jquery.uniform.min.js')
    script(src='js/jquery.colorbox.min.js')
    script(src='js/jquery.cleditor.min.js')
    script(src='js/jquery.noty.js')
    script(src='js/jquery.elfinder.min.js')
    script(src='js/jquery.raty.min.js')
    script(src='js/jquery.iphone.toggle.js')
    script(src='js/jquery.autogrow-textarea.js')
    script(src='js/jquery.uploadify-3.1.min.js')
    script(src='js/jquery.history.js')
    script(src='js/charisma.js')