!!! 5
html(lang='en')
  head
    include incl_head
  body
    .navbar
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.top-nav.nav-collapse,.sidebar-nav.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/users')
            img(alt='Charisma Logo', src='/img/logo20.png')
            span Charisma
          .btn-group.pull-right.theme-container
            a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
              i.icon-tint
              span.hidden-phone  Change Theme / Skin
              span.caret
            ul#themes.dropdown-menu
              li
                a(data-value='classic', href='#')
                  i.icon-blank
                  | Classic
              li
                a(data-value='cerulean', href='#')
                  i.icon-blank
                  | Cerulean
              li
                a(data-value='cyborg', href='#')
                  i.icon-blank
                  | Cyborg
              li
                a(data-value='redy', href='#')
                  i.icon-blank
                  | Redy
              li
                a(data-value='journal', href='#')
                  i.icon-blank
                  | Journal
              li
                a(data-value='simplex', href='#')
                  i.icon-blank
                  | Simplex
              li
                a(data-value='slate', href='#')
                  i.icon-blank
                  | Slate
              li
                a(data-value='spacelab', href='#')
                  i.icon-blank
                  | Spacelab
              li
                a(data-value='united', href='#')
                  i.icon-blank
                  | United
          .btn-group.pull-right
            a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
              i.icon-user
              span.hidden-phone admin
              span.caret
            ul.dropdown-menu
              li
                a(href='#') Profile
              li.divider
              li
                a(href='/session/logout') Logout
          .top-nav.nav-collapse
            ul.nav
              li
                a(href='#') Visit Site
              li
                form.navbar-search.pull-left
                  input.search-query.span2(placeholder='Search', name='query', type='text')
    .container-fluid
      .row-fluid
        .span2.main-menu-span
          .well.nav-collapse.sidebar-nav
            ul.nav.nav-tabs.nav-stacked.main-menu
              li.nav-header.hidden-tablet Navigation
              li
                a.ajax-link(href='/products')
                  i.icon-shopping-cart
                  span.hidden-tablet  Products
              li
                a.ajax-link(href='/users')
                  i.icon-user
                  span.hidden-tablet  Members
            label#for-is-ajax.hidden-tablet(for='is-ajax')
              input#is-ajax(type='checkbox')
              | Ajax on menu
        noscript
          .alert.alert-block.span10
            h4.alert-heading Warning!
            p
              | You need to have
              a(href='http://en.wikipedia.org/wiki/JavaScript', target='_blank') JavaScript
              | enabled to use this site.
        block content
      hr
      #myModal.modal.hide.fade
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h3 Settings
        .modal-body
          p Here settings can be configured...
        .modal-footer
          a.btn(href='#', data-dismiss='modal') Close
          a.btn.btn-primary(href='#') Save changes
      footer
        p.pull-left
          | ©
          a(href='http://usman.it', target='_blank') Muhammad Usman
          | 2012
        p.pull-right
          | Powered by:
          a(href='http://usman.it/free-responsive-admin-template') Charisma
    include incl_script